section.hero{
    background: url('/images/headbg.jpeg') no-repeat ;
    background-size: cover;
    height: 800px;
    width: 100%;
}
.hero img{
    height: 500px;
    margin-bottom: 150px;
}
.hero .carousel-control-prev , .carousel-control-next {
    position: absolute;
    justify-content: flex-end;
}
.hero .carousel-control-prev{
    left: -30%;
}
.hero .carousel-control-next{
    right: -40%;
}